.card {
  display: inline;
  float: left;
  padding: 0 20px 20px 0;
}

.card-content {
  padding: 0px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  height: 116px;
}

.member-card {
  .card();
}

.member-card-content {
  .card-content();
  padding: 10px 10px 10px 120px;
}

.member-card .member-image {
  .img-rounded();
  width: 100px;
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.nowrap {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-name {
  .nowrap();
  font-weight: bold;
  font-size: 120%;
}

.member-org {
  .nowrap();
}

.member-bio {
  .nowrap();
}