#fast-acces-div {
  background-color: black;
}
#fast-acces-menu {
  color: white;
  list-style-type: none;
  padding: 6px 0;
}
#fast-acces-menu > li {
  float: left;
}
#fast-acces-menu > li > a,
#fast-acces-menu > li > span > a {
  font-family: 'Open Sans', sans-serif;
  padding: 4px 10px;
  color: white;
  text-decoration: none;
}
#fast-acces-menu > li > a:hover,
#fast-acces-menu > li > span > a:hover {
  text-decoration: none;
}
#fast-acces-menu .lang-actif {
  color: #4F5962;
}
#fast-acces-menu li.fast-acces-right {
  float: right;
}
#fast-acces-menu li:first-child {
  padding-left: 0;
}
#logo {
  float: left;
}
#navbar-ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  float: right;
  margin: 65px 0 30px 0;
}
#navbar-ul li {
  float: left;
  padding: 4px;
}
#navbar-ul a {
  color: white;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 4px;
}
#navbar-ul li.share-a {
  background: #4F5962;
}
#navbar-ul .search-form {
  padding: 0;
  overflow: hidden;
  margin-left: 32px;
  background: white;
  height: 32px;
}
#navbar-ul .search-form input {
  margin: 0;
  padding: 2px 2px 2px 32px;
  border: 0;
  height: 28px;
  box-shadow: none;
  background: #ffffff url('../pictures/MagnifyingGlass.png') no-repeat 8px 8px;
}
#navbar-ul .search-form a {
  color: white;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: middle;
  background-color: #4F5962;
  padding: 4px 10px;
}
.navbar-newsletter {
  background-color: #b40001;
  margin-right: 10px;
}
.navbar-newsletter img {
  padding-top: 2px;
  vertical-align: sub;
}
.navbar-newsletter a {
  padding-right: 8px;
}
#menu-nav-div {
  float: right;
  margin-right: 10px;
}
#menu-nav {
  margin-right: 0;
  background-color: white;
}
#menu-nav > li > a {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  color: #4F5962;
}
#menu-nav > li > .menu-registration {
  background-color: #B40001;
  color: white;
}
#menu-nav > li > .menu-registration:hover {
  background-color: #ececec;
  color: #4F5962;
}
#menu-nav > li > .active {
  background-color: #4F5962;
  color: white;
}
#menu-nav > li:hover {
  background-color: #ececec;
}
.navbar-collapse {
  padding-right: 0px;
}
.menu-lang {
  float: left;
  width: 70px;
  margin: 40px 0 0 10px;
}
.navbar-default {
  background-color: transparent;
  border-width: 0;
  padding-bottom: 3em;
}
.navbar-form {
  border-color: transparent;
}
