@import "schedule.css";
body {
  background: #ffffff url("../pictures/background.png") no-repeat center 32px;
  font-family: "Open Sans", sans-serif;
}
.container {
  margin: 0 auto;
}
.clear {
  clear: both;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#fast-acces-div {
  background-color: black;
}
#fast-acces-menu {
  list-style-type: none;
  overflow: hidden;
  padding: 6px 0;
}
#fast-acces-menu li {
  float: left;
}
#fast-acces-menu a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 10px;
}
#fast-acces-menu .lang-actif {
  color: #4F5962;
  text-decoration: none;
}
#fast-acces-menu .lang {
  text-decoration: underline;
}
#fast-acces-menu li.fast-acces-right {
  float: right;
}
#fast-acces-menu li:first-child {
  padding-left: 0;
}
#logo {
  float: left;
}
#navbar-ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  float: right;
  margin: 65px 0 30px 0;
}
#navbar-ul li {
  float: left;
  padding: 4px;
  height: 24px;
}
#navbar-ul a {
  color: white;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 4px;
}
#navbar-ul li.share-a {
  background: #4F5962;
  width: 24px;
  height: 24px;
}
#navbar-ul .search-form {
  padding: 0;
  overflow: hidden;
  margin-left: 32px;
  background: white;
  height: 32px;
}
#navbar-ul .search-form input {
  margin: 0;
  padding: 2px 2px 2px 32px;
  border: 0;
  height: 28px;
  box-shadow: none;
  background: #ffffff url('../pictures/MagnifyingGlass.png') no-repeat 8px 8px;
}
#navbar-ul .search-form a {
  color: white;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: middle;
  background-color: #4F5962;
  padding: 4px 10px;
}
.navbar-newsletter {
  background-color: #B40001;
  margin-right: 10px;
}
.navbar-newsletter img {
  padding-top: 2px;
  vertical-align: sub;
}
.navbar-newsletter a {
  padding-right: 8px;
}
#menu-nav-div {
  float: right;
  background-color: white;
}
#menu-nav {
  margin-right: 0;
  background-color: white;
}
#menu-nav > li > a {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  color: #4F5962;
}
#menu-nav > li > .menu-registration {
  background-color: #B40001;
  color: white;
}
#menu-nav > li > .menu-registration:hover {
  background-color: #ececec;
  color: #4F5962;
}
#menu-nav > li > .active {
  background-color: #4F5962;
  color: white;
}
#menu-nav > li:hover {
  background-color: #ececec;
}
#jumbotron {
  width: 100%;
  margin-bottom: 20px;
}
.section-title {
  float: left;
  padding-left: 7px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}
#main .section-button {
  float: right;
  background-color: #B40001;
  padding: 13px;
  margin-top: 30px;
  font-size: 2.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}
#main #all-latest-news {
  background-color: #4F5961;
}
#main .latest-news-card {
  background-color: white;
}
#main .latest-news-card img {
  width: 300px;
  height: 180px;
}
#main .latest-news-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  height: 332px;
}
#main .latest-news-content h4 {
  margin-top: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 1.9em;
  line-height: 1.25em;
  color: #525252;
}
#main .latest-news-content h4 > a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  line-height: 1.3em;
  color: #525252;
}
#main .latest-news-content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.45em;
  color: #525252;
  margin-top: 10px;
}
#main .latest-news-content a {
  text-decoration: none;
  color: #525252;
}
#main .latest-news-date {
  color: #B40001;
  font-size: 1.1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
#main .latest-news-slide-control {
  margin: auto;
  text-align: center;
}
#main .latest-news-slide-control a {
  padding: 4px;
}
#main h2 {
  color: #4F5962;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  margin: 20px 0;
}
#main h3 {
  color: #B30000;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
}
#main h4 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3em;
}
#main .sidebar {
  font-family: 'Open Sans Condensed', sans-serif;
}
#main .sidebar h2 {
  color: #F4F4F4;
  background-color: #B40001;
  font-size: 2.6em;
  font-weight: normal;
  line-height: 1.8em;
  padding-left: 10px;
  margin: 0;
}
#main .sidebar ul {
  background-color: #F4F4F4;
  margin: 0;
}
#main .sidebar li {
  list-style: none;
  margin: 0;
  padding: 15px;
}
#main .sidebar span {
  display: block;
}
#main .sidebar a {
  color: #4F5962;
  font-size: 1.3em;
}
#main .sidebar .hr {
  margin-left: 15px;
  margin-right: 15px;
}
.section-button-a {
  color: white;
}
#domains {
  margin-bottom: 60px;
}
#domains a {
  color: #0088cc;
}
#domains .domain p {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
#domains .domain h2 {
  color: #4F5961;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}
#speaker img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-color: white;
}
#home-speakers {
  background-color: #4F5961;
}
#home-speakers img {
  width: 140px;
  height: 140px;
  background-color: white;
}
#home-speakers h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.speaker-title {
  color: white;
}
.speaker-name {
  text-align: center;
  color: white;
  background-color: #B40001;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em;
}
.speaker-job {
  background-color: white;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
}
#latest-news-div {
  background-color: #F4F4F4;
  padding-bottom: 30px;
}
.latest-news-title {
  color: #B40001;
}
#partners {
  margin-bottom: 60px;
}
#partners img {
  margin: 10px;
  float: left;
}
#partners #institutional-partners a img {
  padding-right: 45px;
  padding-bottom: 30px;
}
.partners-title {
  color: #4F5962;
}
.partners-span {
  margin-left: 45px;
}
.partners-sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
  margin-bottom: 25px;
}
#hr-partner {
  margin: 18px 0;
}
#footer-links {
  margin-top: 12px;
  width: 277px;
  padding: 0;
  text-align: center;
}
#footer-links a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: white;
}
#footer-button {
  width: 276px;
  padding: 0;
  text-align: center;
  margin: 17px 0 0;
}
#edition-pre {
  width: 251px;
  height: 69px;
  background: #2c3237 url("../pictures/backward.png") no-repeat 10px center;
  text-align: right;
  margin-bottom: 10px;
}
#edition-pre a {
  display: block;
  margin-right: 15px;
  padding-top: 23px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.2em;
  color: white;
}
#contact {
  width: 251px;
  height: 69px;
  background: #b30000 url("../pictures/mail.png") no-repeat 10px center;
  text-align: right;
}
#contact a {
  display: block;
  margin-right: 15px;
  padding-top: 23px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.2em;
  color: white;
}
#application {
  width: 313px;
  height: 208px;
  margin: 0 0 0 18px;
  padding: 0;
  background: url("../pictures/phone.png") no-repeat right center;
}
#application-title {
  margin-top: 28px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 0.1em;
  color: white;
}
#application-sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}
#application-content {
  font-family: 'Arial', serif;
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
}
.hr {
  border-color: #EBEBEB;
  border-style: solid none;
  border-width: 1px 0;
}
.page-title {
  color: #4F5962;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 4.5em;
  line-height: 1.1em;
  padding: 0;
}
#main p,
#main li {
  font-size: 1em;
  line-height: 1.45em;
  text-align: justify;
}
.domain .btn {
  font-size: 16px;
}
.news {
  margin-top: 40px;
}
.news-date {
  color: #B40001;
  font-size: 1em;
}
article img {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 20px;
}
ul#theme {
  list-style-type: none;
}
ul#theme li label {
  display: inline;
}
#speakers ul {
  list-style: none;
  margin: 0;
}
#speakers ul li {
  border-top: solid lightgrey 1px;
  padding: 10px 0;
}
#speakers ul li img {
  border: 0;
  padding: 0;
}
#speakers ul li h2 {
  padding: 0;
  margin: 15px 0;
}
#speakers .details {
  padding: 80px 0 0 0;
}
#speakers .details p {
  text-align: left;
}
