/* Stylesheet for the front-end */

body {
  background: #FFFFFF url("../pictures/background-green.png") no-repeat center 32px;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
}

.clear {
  clear: both;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fast-acces-div {
  background-color: #000000;
}

#fast-acces-menu {
  list-style-type: none;
  overflow: hidden;
  padding: 6px 0;
}

#fast-acces-menu li {
  float: left;
}

#fast-acces-menu a {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 10px;
}

#fast-acces-menu .lang-actif {
  color: #4F5962;
  text-decoration: none;
}

#fast-acces-menu .lang {
  text-decoration: underline;
}

#fast-acces-menu li.fast-acces-right {
  float: right;
}

#fast-acces-menu li:first-child {
  padding-left: 0;
}

#logo {
  float: left;
}

#navbar-ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  float: right;
  margin: 65px 0 30px 0;
}

#navbar-ul li {
  float: left;
  padding: 4px;
  height: 24px;
}

#navbar-ul a {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 4px;
}

#navbar-ul li.share-a {
  background: #4F5962;
  width: 24px;
  height: 24px;
}

.navbar-newsletter {
  background-color: #B40001;
  margin-right: 10px;
}

.navbar-newsletter img {
  padding-top: 2px;
  vertical-align: sub;
}

.navbar-newsletter a {
  padding-right: 8px;
}

#navbar-ul .search-form {
  padding: 0;
  overflow: hidden;
  margin-left: 32px;
  background: #fff;
  height: 32px;

}

#navbar-ul .search-form input {
  margin: 0;
  padding: 2px 2px 2px 32px;
  border: 0;
  height: 28px;
  box-shadow: none;
  background: #fff url('../pictures/MagnifyingGlass.png') no-repeat 8px 8px;
}

#navbar-ul .search-form a {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: middle;
  background-color: #4F5962;
  padding: 4px 10px
}

#menu-nav-div {
  float: right;
  background-color: #ffffff;
}

#menu-nav {
  margin-right: 0;
  background-color: #ffffff;
}

#menu-nav > li > a {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  color: #4F5962;
}

#menu-nav > li:hover {
  background-color: #ececec;
}

#menu-nav > li > .menu-registration {
  background-color: #B40001;
  color: #ffffff;
}

#menu-nav > li > .menu-registration:hover {
  background-color: #ececec;
  color: #4F5962;
}

#menu-nav > li > .active {
  background-color: #4F5962;
  color: #ffffff;
}

#middle-img {
  /*float: left;*/
  /*margin-top: 30px;*/
  background: url("../pictures/middle-img.png") no-repeat 0 100px;
  width: 100%;
  height: 410px;
}

#middle-img h1 {
  /*width: 480px;*/
  text-align: right;
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

#middle-img span {
  color: #B40001;
  font-weight: bold;
  line-height: 1.3em;
  font-size: 0.9em;
}

.section-title {
  float: left;
  padding-left: 7px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}

#main .section-button {
  float: right;
  background-color: #B40001;
  padding: 13px;
  margin-top: 30px;
  font-size: 2.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}

.section-button-a {
  color: #ffffff
}

#domains {
  margin-bottom: 60px;
}

#domains a {
  color: #0088cc;
}

#domains .domain p {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

#domains .domain h2 {
  color: #4F5961;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}

#speaker img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-color: white;
}

#home-speakers {
  background-color: #4F5961;
}

#home-speakers img {
  width: 140px;
  height: 140px;
  background-color: white;
}

#home-speakers h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.speaker-title {
  color: #FFFFFF;
}

.speaker-name {
  text-align: center;
  color: #ffffff;
  background-color: #B40001;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em;
}

.speaker-job {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
}

#latest-news-div {
  background-color: #F4F4F4;
  padding-bottom: 30px;
}

.latest-news-title {
  color: #B40001;
}

#main #all-latest-news {
  background-color: #4F5961;
}

#main .latest-news-card {
  background-color: #ffffff;
}

#main .latest-news-card img {
  width: 300px;
  height: 180px;
}

#main .latest-news-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  height: 332px;
}

#main .latest-news-content h4 {
  margin-top: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 1.9em;
  line-height: 1.25em;
  color: #525252;
}

#main .latest-news-content h4 > a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  /*font-size: 2em;*/
  line-height: 1.3em;
  color: #525252;
}

#main .latest-news-content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.45em;
  color: #525252;
  margin-top: 10px;
}

#main .latest-news-content a {
  text-decoration: none;
  color: #525252;
}

#main .latest-news-date {
  color: #B40001;
  font-size: 1.1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

#main .latest-news-slide-control {
  margin: auto;
  text-align: center;
}

#main .latest-news-slide-control a {
  padding: 4px;
}

/* Sponsors / partners */

#partners {
  margin-bottom: 60px;
}

#partners img {
  margin: 10px;
  float: left;
}

.partners-title {
  color: #4F5962;
}

.partners-span {
  margin-left: 45px;
}

.partners-sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
  margin-bottom: 25px;
}

#hr-partner {
  margin: 18px 0;
}

/* Footer */

#footer-links {
  margin-top: 12px;
  width: 277px;
  padding: 0;
  text-align: center;
}

#footer-links a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #FFFFFF;
}

#footer-button {
  width: 276px;
  padding: 0;
  text-align: center;
  margin: 17px 0 0;
}

#edition-pre {
  width: 251px;
  height: 69px;
  background: #2C3237 url("../pictures/backward.png") no-repeat 10px center;
  text-align: right;
  margin-bottom: 10px;
}

#edition-pre a {
  /*margin: auto;*/
  display: block;
  margin-right: 15px;
  padding-top: 23px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.2em;
  color: #FFFFFF;

}

#contact {
  width: 251px;
  height: 69px;
  background: #B30000 url("../pictures/mail.png") no-repeat 10px center;
  text-align: right;
}

#contact a {
  display: block;
  margin-right: 15px;
  padding-top: 23px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.2em;
  color: #FFFFFF;
}

#application {
  width: 313px;
  height: 208px;
  margin: 0 0 0 18px;

  padding: 0;
  background: url("../pictures/phone.png") no-repeat right center;
}

#application-title {
  margin-top: 28px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 0.1em;
  color: #FFFFFF;
}

#application-sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

#application-content {
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Arial', serif;
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hr {
  border-color: #EBEBEB;
  border-style: solid none;
  border-width: 1px 0;
}

/* added / overridden by SF */
.page-title {
  color: #4F5962;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 4.5em;
  line-height: 1.1em;
  padding: 0;
}

#main h2 {
  color: #4F5962;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1em;
  margin: 20px 0;
}

#main h3 {
  color: #B30000;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
  /*text-transform:uppercase;*/
}

#main h4 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3em;
}

#main p, #main li {
  font-size: 1em;
  line-height: 1.45em;
  text-align: justify;
}

/* buttons */
.domain .btn {
  font-size: 16px;
}

/*   news.html | news-items.html   */
.news {
  margin-top: 40px;
}

.news-date {
  color: #B40001;
  font-size: 1em;
}

article img {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*   _macros.html   */
#main .sidebar {
  font-family: 'Open Sans Condensed', sans-serif;
}

#main .sidebar h2 {
  color: #F4F4F4;
  background-color: #B40001;
  font-size: 2.6em;
  font-weight: normal;
  line-height: 1.8em;
  padding-left: 10px;
  margin: 0;
}

#main .sidebar ul {
  background-color: #F4F4F4;
  margin: 0;
}

#main .sidebar li {
  list-style: none;
  margin: 0;
  padding: 15px;
}

#main .sidebar span {
  display: block;
}

#main .sidebar a {
  color: #4F5962;
  font-size: 1.3em;
}

#main .sidebar .hr {
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  margin-bottom: 20px;
}

ul#theme {
  list-style-type: none;
}

ul#theme li label {
  display: inline;
}

#partners #institutional-partners a img {
  padding-right: 45px;
  padding-bottom: 30px;
}

/* speakers page */
#speakers ul {
  list-style: none;
  margin: 0;
}

#speakers ul li {
  border-top: solid lightgrey 1px;
  padding: 10px 0;
}

#speakers ul li img {
  border: 0;
  padding: 0;
}

#speakers ul li h2 {
  padding: 0;
  margin: 15px 0;
}

#speakers .details {
  padding: 80px 0 0 0;
}

#speakers .details p {
  text-align: left;
}

/* Schedule */

#schedule {
  border-collapse: collapse;
  width: 1200px;
}

#schedule, #schedule tr, #schedule td {
  border: 1px solid black;
}

#schedule td {
  width: 150px;
  vertical-align: top;
  padding: 0;
}

#schedule .track {
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid black;
  background-color: lightgrey;
  padding: 3px;
}

#schedule .talk {
  padding: 3px;
}

#schedule .popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

#schedule .popover {
  width: 350px;
  max-width: 350px;
}

.track0 {
  background-color: #a1ffec;
}

.track1 {
  background-color: #52d3dd;
}

.track2 {
  background-color: #e2f777;
}

.track3 {
  background-color: #c9c3f1;
}

.track4 {
  background-color: #d494e7;
}

.track5 {
  background-color: #83a9dd;
}

.track6 {
  background-color: #d593d1;
}

.track7 {
  background-color: #b2a8f5;
}

.track8 {
  background-color: #bfe6c2;
}

.track9 {
  background-color: #fd17fc;
}

.track10 {
  background-color: #b89fb2;
}

.track11 {
  background-color: #f665f3;
}

.track12 {
  background-color: #e3ccb4;
}

.track13 {
  background-color: #e2bed3;
}

.track14 {
  background-color: #e98397;
}

.track15 {
  background-color: #c0ff53;
}

.track16 {
  background-color: #d1ce99;
}

.track17 {
  background-color: #fea1a6;
}

.track18 {
  background-color: #aafa62;
}

.track19 {
  background-color: #faffc8;
}

.track20 {
  background-color: #f32bf9;
}

.track21 {
  background-color: #e6babc;
}

.track22 {
  background-color: #e278be;
}

.track23 {
  background-color: #e5f78b;
}

.track24 {
  background-color: #cdea84;
}

.track25 {
  background-color: #f8e71f;
}

.track26 {
  background-color: #ca55f4;
}

.track27 {
  background-color: #ecdeeb;
}

.track28 {
  background-color: #d281e7;
}

.track29 {
  background-color: #eeebf8;
}

.track30 {
  background-color: #a0e3f4;
}

.track31 {
  background-color: #43c7ef;
}

.track32 {
  background-color: #f0e6f5;
}

.track33 {
  background-color: #aaccb4;
}

.track34 {
  background-color: #a29fcd;
}

.track35 {
  background-color: #ccf483;
}

.track36 {
  background-color: #fbba81;
}

.track37 {
  background-color: #c7e75e;
}

.track38 {
  background-color: #e99aa6;
}

.track39 {
  background-color: #78f5c6;
}

.track40 {
  background-color: #cc83b3;
}

.track41 {
  background-color: #d585aa;
}

.track42 {
  background-color: #f2a9b6;
}

.track43 {
  background-color: #d0d081;
}

.track44 {
  background-color: #9e73ff;
}

.track45 {
  background-color: #dbd3a4;
}

.track46 {
  background-color: #f2a5b6;
}

.track47 {
  background-color: #7df684;
}

.track48 {
  background-color: #cee9cb;
}

.track49 {
  background-color: #d2ceb4;
}

.track50 {
  background-color: #8dcba5;
}

.track51 {
  background-color: #80b6fd;
}

.track52 {
  background-color: #f06be6;
}

.track53 {
  background-color: #c488d5;
}

.track54 {
  background-color: #59fef3;
}

.track55 {
  background-color: #deb37c;
}

.track56 {
  background-color: #ccbfe8;
}

.track57 {
  background-color: #fa96a3;
}

.track58 {
  background-color: #c7cf99;
}

.track59 {
  background-color: #c5ec9a;
}

.track60 {
  background-color: #f5ec8e;
}

.track61 {
  background-color: #dab59d;
}

.track62 {
  background-color: #e4f29d;
}

.track63 {
  background-color: #c8a4dc;
}

.track64 {
  background-color: #6feed1;
}

.track65 {
  background-color: #85eed1;
}

.track66 {
  background-color: #b9be95;
}

.track67 {
  background-color: #c2f9ea;
}

.track68 {
  background-color: #9df195;
}

.track69 {
  background-color: #c4c8ba;
}

.track70 {
  background-color: #dcdade;
}

.track71 {
  background-color: #ead1ed;
}

.track72 {
  background-color: #e3f94c;
}

.track73 {
  background-color: #9578f8;
}

.track74 {
  background-color: #c370c6;
}

.track75 {
  background-color: #d79af7;
}

.track76 {
  background-color: #ff49fe;
}

.track77 {
  background-color: #80ffad;
}

.track78 {
  background-color: #cbb3d2;
}

.track79 {
  background-color: #79cac1;
}

.track80 {
  background-color: #67f6a9;
}

.track81 {
  background-color: #34edf2;
}

.track82 {
  background-color: #86bce8;
}

.track83 {
  background-color: #97bbb2;
}

.track84 {
  background-color: #abb4de;
}

.track85 {
  background-color: #fdf318;
}

.track86 {
  background-color: #cae4ba;
}

.track87 {
  background-color: #dbe294;
}

.track88 {
  background-color: #84d89d;
}

.track89 {
  background-color: #ec80fe;
}

.track90 {
  background-color: #f05eec;
}

.track91 {
  background-color: #c78cc1;
}

.track92 {
  background-color: #27eae5;
}

.track93 {
  background-color: #8eea94;
}

.track94 {
  background-color: #f5fa87;
}

.track95 {
  background-color: #9e96ea;
}

.track96 {
  background-color: #c5c9c8;
}

.track97 {
  background-color: #9fd8f9;
}

.track98 {
  background-color: #d988c3;
}

.track99 {
  background-color: #c4aaf1;
}
