{% extends "_base.html" %}

{% from "auth/macros.html" import m_renderfield %}

{% block main %}

  <div class="container content">

    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form.errors %}
          {% for error in form.errors[field] %}
            <div>Error on field
              "{{ form[field].label.text }}": {{ error }}</div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-12">

        <h1>{{ page.title }}</h1>

        <p>{% trans %}These information will appear on the OWF
          website.{% endtrans %}</p>

        <form class="form" method="post" action="#">

          {{ form.csrf_token() }}

          <div class="row">
            {{ m_renderfield(form.first_name) }}
            {{ m_renderfield(form.last_name) }}
          </div>
          <div class="row">
            {{ m_renderfield(form.title) }}
          </div>
          <div class="row">
            {{ m_renderfield(form.organization) }}
            {{ m_renderfield(form.organization_type) }}
          </div>

          <div class="row">
            {{ m_renderfield(form.url) }}
            {{ m_renderfield(form.twitter_handle) }}
          </div>

          <div class="row">
            {{ m_renderfield(form.biography, rows=8) }}
          </div>

          <div class="form-actions clearfix">
            <button type="submit" class="btn btn-primary" name="_action"
                value="update">
              Save
            </button>
            <button type="submit" class="btn cancel" name="_action"
                value="cancel">
              Cancel
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}