{% extends "_base.html" %}

{% block main %}
  <script>
    var $CURRENT_USER = "{{ g.user.email }}" || null;
    var $PERSONA_ROOT = '/auth/persona';
  </script>

  <div class="container content">

    <div class="login-box">

      <h2>{{ _("Please sign in") }}</h2>

      {% trans %}
      <p>The Open World Forum 2014 is a FREE event but you need to register first to participate.</p>

      <p>You need to sign in, using one of the identity providers below.</p>

      <p>(In case of doubt use <a href="https://login.persona.org" target="_blank">Mozilla Persona</a> - if you don't have an account on Mozilla Persona yet, it's very easy to set up).</p>
      {% endtrans %}

      <div class="row">

        <div class="col-sm-6">
          <a id="persona-signin" class="btn btn-persona btn-block">Log in with
            Mozilla Persona</a>
        </div>

        <div class="col-sm-6">
          <a href="{{ url_for(".login_with", server_name="github") }}"
              class="btn btn-github btn-block">
            <span class="fa fa-lg fa-github"></span>
            &nbsp;Log in with GitHub
          </a>
        </div>

        <div class="col-sm-6">
          <a href="{{ url_for(".login_with", server_name="google") }}"
              class="btn btn-google btn-block">
            <span class="fa fa-lg fa-google-plus"></span>
            &nbsp;Log in with Google
          </a>
        </div>

        <div class="col-sm-6">
          <a href="{{ url_for(".login_with", server_name="facebook") }}"
              class="btn btn-facebook btn-block">
            <span class="fa fa-lg fa-facebook"></span>
            &nbsp;Log in with Facebook
          </a>
        </div>

{#        <div class="col-sm-6">#}
{#          <a href="{{ url_for(".login_with", server_name="linkedin") }}"#}
{#              class="btn btn-linkedin btn-block">#}
{#            <span class="fa fa-lg fa-linkedin"></span>#}
{#            &nbsp;Log in with Linkedin#}
{#          </a>#}
{#        </div>#}
{##}
{#        <div class="col-sm-6">#}
{#          <a href="{{ url_for(".login_with", server_name="stackoverflow") }}"#}
{#              class="btn btn-stackoverflow btn-block">#}
{#            <span class="fa fa-lg fa-stackoverflow"></span>#}
{#            &nbsp;Log in with StackOverflow#}
{#          </a>#}
{#        </div>#}
      </div>


{#      <h3>{{ _("Or with your email and password") }}</h3>#}
{##}
{#      <form method="POST" action=".">#}
{#        <div class="form-group">#}
{#          <label for="login-email">{{ _("Email address") }}</label>#}
{#          <input type="text" class="form-control" id="login-email" tabindex="1">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#          <label for="login-password">{{ _("Password") }}</label>#}
{##}
{#          <div class="pull-right">#}
{#            <a href="TODO">Forgot Password?</a>#}
{#          </div>#}
{#          <input type="password" class="form-control" id="login-password"#}
{#              tabindex="2">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#          <button type="submit" class="btn btn-primary btn-block btn-lg"#}
{#              tabindex="4"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Signin#}
{#          </button>#}
{#        </div>#}
{#      </form>#}
{##}
{#      <h3>{{ _("Or register with your email and password") }}</h3>#}
{##}
{#      <form method="POST" action=".">#}
{#        <div class="form-group">#}
{#          <label for="register-email">{{ _("Email address") }}</label>#}
{#          <input type="text" class="form-control" id="login-email" tabindex="1">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#          <label for="register-password">{{ _("Choose a password") }}</label>#}
{#          <input type="password" class="form-control" id="login-password"#}
{#              tabindex="2">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#          <button type="submit" class="btn btn-primary btn-block btn-lg"#}
{#              tabindex="4"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Register#}
{#          </button>#}
{#        </div>#}
{#      </form>#}

    </div>
  </div>

  <script src="https://login.persona.org/include.js"></script>

{% endblock %}