{% extends "_base.html" %}

{% block main %}

  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div><a class="btn btn-default" href="/auth/login/github">Login using GitHub</a></div>

        <div><a class="btn btn-default" href="/auth/login/twitter">Login using Twitter</a></div>

        <div><a class="btn btn-default" href="/auth/login/google">Login using Google</a></div>

        <div><a class="btn btn-default" href="/auth/login/linkedin">Login using Linkedin</a></div>

        <div><a class="btn btn-default" href="/auth/login/stackoverflow">Login using Stackoverflow</a></div>

        <div><a class="btn btn-default" href="/auth/login/xing">Login using Xing</a></div>
      </div>
    </div>

  </div>

{% endblock %}