<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  </style>
</head>

<body>

<h1>Stats</h1>

<table>
  <tr>
    <td style="text-align: center;"><b>Theme</b></td>
    <td style="text-align: center;"><b># Talks</b></td>
  </tr>
  {% for theme in themes %}
    <tr>
      <td><a href="#{{ theme.name|lower }}">{{ theme.name }}</a></td>
      <td style="text-align: center;">{{ theme.count }}</td>
    </tr>
  {% endfor %}
</table>

<h1>Details</h1>

{% for theme, props in proposals %}
  <a id="{{ theme|lower }}"></a>
  <h2>{{ theme }}</h2>
  {% for proposal in props %}
    <h3>{{ proposal.title }}</h3>
    <p>By: {{ proposal.speaker_name }} ({{ proposal.speaker_email }})
      - {{ proposal.speaker_organization }}, {{ proposal.speaker_title }}</p>
    <p>{{ proposal.abstract }}</p>
    <hr>
  {% endfor %}
{% endfor %}
</body>
</html>