{% extends "_base.html" %}

{% from "sdc/macros.html" import m_renderfield %}

{% block main %}

  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <article>
          <h1 class="page-title">{{ page.title }}</h1>

          {%- with messages = get_flashed_messages(with_categories=true) %}
            {%- if messages %}
              {%- for category, message in messages %}
                <div class="alert alert-block alert-{{ category }}">
                  <a class="close" data-dismiss="alert">&times;</a>
                  {{ message }}
                </div>
              {%- endfor %}
            {%- endif %}
          {%- endwith %}

          <p>Veuillez s'il vous plait lire la <a href="/fr/news/student-demo-cup/">Student Demo Cup</a>
            pour toute question liée à ce formulaire.</p>

          <p>Remplissez s'il vous plait le formulaire ci-dessous
             (Les informations obligatoires sont marquées avec une <strong>*</strong>):</p>
             <br>


          <form method="post" role="form" action="#" class=" col-md-7 col-md-offset-3">

            {% for field in form %}
              {% if field.type == 'CSRFTokenField' %}
                {{ field() }}
              {% else %}
                {{ m_renderfield(field) }}
              {% endif %}
            {% endfor %}

            <div class="form-actions">
              <button type="submit" class="btn btn-primary" name="_action"
                  value="add">
                Save
              </button>
              <button type="submit" class="btn cancel" name="_action"
                  value="cancel">
                Cancel
              </button>
            </div>
          </form>

        </article>

      </div><!-- col -->
    </div><!-- row -->
    <hr>
  </div> <!-- container -->

{% endblock %}
