<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head {% if lang == 'fr' %}lang="fr-FR"{% else %}lang="en-EN"{% endif %}>
  <title>{{ title or page.title }}</title>

  <meta charset="UTF-8">
  <meta name="google-site-verification"
      content="kfGFousDWgE8TxYr_Ue4OywCllC4hTPHvBvybFodLPM"/>

  {%- for name, content in g.metadata.items() %}
    <meta name="{{ name }}" content="{{ content }}">
  {%- endfor %}

  <link rel="shortcut icon" type="image/x-icon"
      href="/static/pictures/favicon.ico"/>

  <link
      href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'
      rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'
      type='text/css'>

  <!-- <link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet"> -->
  
  <link href="/static/css/owf.css" rel="stylesheet">
</head>

<body>

{% include "_header.html" %}

<div id="main">
  {% block main %}
  {% endblock %}
</div>

{% include "_sponsors.html" %}

{% if lang == 'fr' %}
  {% include "_footer_fr.html" %}
{% else %}
  {% include "_footer_en.html" %}
{% endif %}
</body>

<script src="/static/jquery/js/jquery-1.9.1.min.js"></script>
<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
<script src="/static/js/owf.js"></script>

</html>
