<!DOCTYPE html>
<html>
<head {% if lang == 'fr' %}lang="fr-FR"{% else %}lang="en-EN"{% endif %}>
  <title>{{ title or page.title }}</title>

  <meta name="google-site-verification"
      content="kfGFousDWgE8TxYr_Ue4OywCllC4hTPHvBvybFodLPM"/>

  <link rel="shortcut icon" type="image/x-icon"
      href="/static/pictures/favicon.ico"/>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light&v1' rel='stylesheet' type='text/css'>-->
  <link
      href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'
      rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'
      type='text/css'>
  <meta charset="UTF-8">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/stylesheet.css" rel="stylesheet">
</head>
<body>
<div id="fast-acces-div">
  <ul id="fast-acces-menu" class="container">
    {% if lang == 'fr' %}
      {% include "_skiplink_fr.html" %}
    {% else %}
      {% include "_skiplink_en.html" %}
    {% endif %}
    <li class="fast-acces-right"><a
        class="fast-acces-a lang {% if lang =='en' %}lang-actif{% endif %}"
        href="/en/">English</a>
    </li>
    <li class="fast-acces-right"><a
        class="fast-acces-a lang {% if lang =='fr' %}lang-actif{% endif %}"
        href="/fr/">Français</a>
    </li>
  </ul>
</div>

<header class="container" role="banner">
  <a href="{{ url_for("localized.home") }}"><img id="logo"
      src="/static/pictures/Calque1.png"/ alt="Open World Forum"></a>

  <ul id="navbar-ul">
    <li class="navbar-newsletter">
      <a href="http://eepurl.com/dACrj"><img alt="newsletter" width="25px" height="19px"
          src="/static/pictures/1366984852_White_Email.png"> Newsletter</a>
    </li>
    <li class="share-a">
      <a href="https://www.facebook.com/OpenWorldForum">
        <img alt="Facebook Open Word Forum" src="/static/pictures/1366984111_picons06.png" width="18px"
            height="18px"/>
      </a>
    </li>
    <li class="share-a">
      <a href="https://twitter.com/openworldforum">
        <img alt="Twitter Open World Forum" src="/static/pictures/1366984104_picons03.png" width="23px"
            height="23px"/>
      </a>
    </li>
    <li class="share-a">
      <a href="http://www.linkedin.com/groups?gid=1561767&trk=group-name">
        <img alt="Linkedin" src="/static/pictures/1366984119_picons11.png" width="18px"
            height="18px"/>
      </a>
    </li>
    <li class="share-a">
      <a href="http://lanyrd.com/2013/owf2013/">
        <img src="/static/pictures/Calque2.png" width="15px" height="17px"
            alt="Lanyrd"/>
      </a>
    </li>
    <li class="share-a">
      <a href="{{ url_for("localized.feed") }}">
        <img src="/static/pictures/1366984127_picons20.png" width="18px"
            height="18px" alt="Feed"/>
      </a>
    </li>
    <li class="search-form" id="search-form">
      <!--<img src="/static/pictures/MagnifyingGlass.png" width="16px" height="16px"/>-->
      <form action="/{{ lang }}/search">
        <input name="qs" type="text" value="{{ request.args.get('qs', '') }}"/>
        <a onclick="submit();">{{ _("Search") }}</a>
      </form>
    </li>
  </ul>


  <div id="menu-nav-div" class="navbar" role="navigation">
    <ul id="menu-nav" class="nav">
      {% for entry in menu %}
        {% if entry.path.startswith("/") %}
          {% set url=entry.path %}
        {% else %}
          {% set url=url_for("localized.home") + entry.path %}
        {% endif %}
        <li><a href="{{ url }}"
            class="{{ entry.class }}">{{ entry.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>

<div id="main">

  {% block main %}
  {% endblock %}
</div>

<div>
  <div id="partners" class="container">
    <div class="container">
      <h1 class="section-title partners-title">{{ _("Our partners") }}</h1>
    </div>

    <div class="container">

      <div class="row-fluid" style="margin-bottom: 30px">
        <div class="span12 partners-span" id="institutional-partners">
          <p class="partners-sub-title">{{ _("Institutional partners") }}</p>

          <a href="http://www.iledefrance.fr/" target="_blank"><img
              src="/static/pictures/Region-Ile-de-France_logoSponsor.jpg"
              width="130"/></a>
          <a href="http://www.lafonderie-idf.fr/" target="_blank"><img
              src="/static/pictures/La-Fonderie_logoSponsor.png"/></a>
          <a href="http://www.paris.fr/" target="_blank"><img
              src="/static/pictures/Ville-de-Paris_logoSponsor.jpg"
              width="130"/></a>
          <a href="http://www.paris-region.com/" target="_blank"><img
              src="/static/pictures/Agence-regionale-de-developpement-Paris-Ile-de-France_logoSponsor.jpg"
              width="130"/></a>
        </div>
      </div>

      <div class="row-fluid" style="margin-bottom: 30px;">
         <div class="span4">
          <p class="partners-sub-title">{{ _("Diamond Sponsor") }}</p>
          
          <a href="/{{ lang }}/partners/#inria"><img alt="Inria"
              src="/static/pictures/page sponsor et organisateurs/INRIA_sponsor page.jpg" width="200"/></a>
          
         </div>
        
         <div class="span4">
          <p class="partners-sub-title">{{ _("Platinum sponsors") }}</p>

          <a href="/{{ lang }}/partners/#alter way"><img alt="Ater Way"
              src="/static/pictures/partners/logo_aw_rvb_copie.png"/></a>
          <a href="/{{ lang }}/partners/#smile"><img alt="Smile"
              src="/static/pictures/partners/Smile_logoSponsor2.png"/></a>
          <a href="/{{ lang }}/partners/#microsuse"><img alt="Microsoft Suse"
              src="/static/pictures/partners/MicroSuse.png"/></a>    
         </div>
         
         <div class="span4">
          <p class="partners-sub-title">{{ _("Gold sponsors") }}</p>

          <a href="http://www.redhat.com/"><img alt="Red Hat"
              src="/static/pictures/partners/redhat-logo - partners.jpg"/></a>
          <a href="http://www.enovance.com/"><img alt="enovance"
              src="/static/pictures/partners/logo-eNovance-2013-Signature.png"/></a>    
        </div>
        
      </div>
         
      <div class="row-fluid" style="margin-bottom: 30px;">
         <div class="span12">
          <p class="partners-sub-title">{{ _("Silver sponsors") }}</p>

          <a href="/{{ lang }}/partners/#abilian"><img alt='Abilian'
              src="/static/pictures/partners/abilian_logosponsors.png"/></a>
          <a href="/{{ lang }}/partners/#af83"><img style="height:70px !important;" alt="af83"
              src="/static/pictures/partners/af83_logoSponsor2.png"/></a>
          <a href="http://www.blackducksoftware.fr/"><img alt='blackduck'
              src="/static/pictures/partners/blackduck.png"/></a>
          <a href="http://www.elasticsearch.org/"><img alt='elasticsearch'
              src="/static/pictures/partners/elastic_logo_green.png"/></a>    
          <a href="/{{ lang }}/partners/#hp"><img alt='HP'
              src="/static/pictures/partners/Hewlett-Packard_logoSponsor.png"/></a>
          <a href="/{{ lang }}/partners/#jamendo"><img alt='jamendo'
              src="/static/pictures/partners/jamendo_logo.png"/></a>    
          <a href="http://legroupe.laposte.fr/"><img alt='La Poste'
              src="/static/pictures/partners/Groupe-Laposte_logoSponsor.png"/></a>
          <a href="http://www.palamida.com/"><img alt='Palamida'
              src="/static/pictures/partners/palamida_logo_Tagline.jpg"/></a>
          <a href="http://careers.stackoverflow.com/"><img alt='StackOverflow'
              src="/static/pictures/partners/stackoverflow%20careers20-logo.png"/></a>
         </div>

      </div>
      
      <div class="row-fluid" style="margin-bottom: 30px">
        <div class="span4 partners-span">
          <p class="partners-sub-title">{{ _("Organizer") }}</p>
          <a href="/{{ lang }}/partners/#systematic" target="_blank"><img 
              src="/static/pictures/partners/Systematic_large.png" alt="Systematic"/></a>
        </div>

        <div class="span8 partners-span">
          <p class="partners-sub-title">{{ _("Co-organizers") }}</p>

          <a href="/{{ lang }}/partners/#af83"><img alt="af83" 
              src="/static/pictures/partners/af83_logoSponsor.png"/></a>
          <a href="/{{ lang }}/partners/#alter way"><img alt="Alter Way"
              src="/static/pictures/partners/logo_aw_rvb_copie-orga.png"/></a>
          <a href="/{{ lang }}/partners/#cap"><img alr="Cap Digital"
              src="/static/pictures/partners/cap_digital_logosponsors.jpg"/></a>
          <a href="/{{ lang }}/partners/#inria"><img alt="Inria"
              src="/static/pictures/partners/INRIA_logoSponsor.jpg"/></a>
          <a href="/{{ lang }}/partners/#smile"><img alt="Smile"
              src="/static/pictures/partners/Smile_logoSponsor.png"/></a>
        </div>
        
       </div>
      <div class="row-fluid" style="margin-bottom: 30px">
        <div class="span12 partners-span" id="community partners">
          <p class="partners-sub-title">{{ _("Community Partners") }}</p>
          
          <a href="http://www.adullact.org/"><img alt="adullact"
              src="/static/pictures/partners/logo ADULLACT [Converti] 1.jpg"/></a>
          <a href="http://aful.org/"><img alt="aful"
              src="/static/pictures/partners/380px-AFUL_Logo_2004.png"/></a>    
          <a href="http://www.cnll.fr/"><img alt="cnll"
              src="/static/pictures/partners/logo-CNLL.jpg"/></a>
          <a href="http://ploss.hosting.enovance.com/"><img alt="ploss"
              src="/static/pictures/partners/Logo_PLOSS_CMJN.jpg"/></a>    
          <a href="http://osdc.fr/"><img alt="OSDC.fr"
              src="/static/pictures/partners/osdc community.png"/></a>
          <a href="http://ow2.org/"><img alt="OW2"
              src="/static/pictures/partners/OW2_logo community.png"></a>
          <a href="http://siliconsentier.org/?lang=en"><img alt="Silicon Sentier"
              src="/static/pictures/partners/Silicon-Sentier-300x75_BD.png"/></a>    
          
        </div>
      </div>
      
      <div class="row-fluid" style="margin-bottom: 30px">
        <div class="span12 partners-span" id="webtv-partner">
          <p class="partners-sub-title">{{ _("WebTV Partner") }}</p>
          
          <a href="http://www.intelli-n.fr/"><img alt="Intelli'N"
              src="/static/pictures/presse/intellin-test.png"/></a>
          
        </div>
      </div>  

       <div class="row-fluid">
        <div class="span12 partners-span" id="press-partners">
          <p class="partners-sub-title">{{ _("Press partners") }}</p>

          <a href="http://pro.01net.com/" target="_blank"><img alt="01business"
              src="/static/pictures/presse/logo_01Business.jpg"></a>
          <a href="http://www.3dnatives.com/" target="_blank"><img alt="3Dnatives"
              src="/static/pictures/presse/3Dnatives(1).jpg"></a>
          <a href="http://www.atelier.net/en" target="_blank"><img alt="l'atelier"
              src="/static/pictures/presse/logo_atelier_web.jpg"></a>
          <a href="http://www.channelbiz.fr/" target="_blank"><img alt="channelbiz"
              src="/static/pictures/presse/logo_Channelbiz.png"></a>
          <a href="http://www.cio.com/" target="_blank"><img alt="CIO"
              src="/static/pictures/presse/Logo_CIO_HD.jpg"></a>
          <a href="http://www.collaboratif-info.fr/" target="_blank"><img alt="Collaboratif-info"
              src="/static/pictures/presse/Logo_Collaboratif.png"/></a>     
          <a href="http://www.i-entreprise.com/" target="_blank"><img alt="i-entreprise"
              src="/static/pictures/presse/Logo_Ientreprise_petit.jpg"/></a>
          <a href="http://frenchweb.fr/" target="_blank"><img alt="frenchweb"
              src="/static/pictures/presse/frenchweb.jpg"/></a>
          <a href="http://www.linformaticien.com/" target="_blank"><img alt="l'informaticien"
              src="/static/pictures/presse/Logo_Informaticien_HD.jpg"/></a>    
          <a href="http://www.itespresso.fr/" target="_blank"><img alt="it espresso"
              src="/static/pictures/presse/logo_Itespresso.png"/></a>
          <a href="http://www.it-expertise.com/" target="_blank"><img alt="it expert"
              src="/static/pictures/presse/logo_it-expert magazine.png"/></a>
          <a href="http://www.i-entreprise.com/"><img alt="i-solo"
              src="/static/pictures/presse/Logo_ISolo_petit.jpg"/></a>
          <a href="http://www.journaldunet.com//" target="_blank"><img alt="le journal du net"
              src="/static/pictures/presse/Logo_JDN.png"/></a>
          <a href="http://linuxfr.org/" target="_blank"><img alt="linuxfr.org"
              src="/static/pictures/presse/linuxfr2_classic_back.png"/></a>   
          <a href="http://boutique.ed-diamond.com/" target="_blank"><img alt="linux magazine"
              src="/static/pictures/presse/logo_linuxmagazine.jpg"/></a>    
          <a href="http://boutique.ed-diamond.com/" target="_blank"><img alt="linux pratique"
              src="/static/pictures/presse/logo_linuxpratique.jpg"/></a>
          <a href="http://www.lemondeinformatique.fr/" target="_blank"><img alt="le monde informatique"
              src="/static/pictures/presse/Logo_LeMondeInformatique_HD.jpg"/></a>
          <a href="http://www.reseaux-telecoms.net/" target="_blank"><img alt="reseaux telecoms"
              src="/static/pictures/presse/Logo_reseauxettelecoms_HD.jpg"/></a>
          <a href="http://www.silicon.fr/" target="_blank"><img alt="silicon"
              src="/static/pictures/presse/logo_Silicon.png"/></a>
          <a href="http://www.terraeco.net//" target="_blank"><img alt="terra eco"
              src="/static/pictures/presse/Logo_Terraeco_HD.jpg"/></a>
          <a href="http://www.ubergizmo.com/" target="_blank"><img alt="ubergizmo"
              src="/static/pictures/presse/Ubergizmo_logo_rgb_150_vert.jpg"/></a>
            
        </div>
      </div>

    </div>
  </div>
</div>


{% if lang == 'fr' %}
  {% include "_footer_fr.html" %}
{% else %}
  {% include "_footer_en.html" %}
{% endif %}
</body>

<script>
  $('#myCarousel').bind("slide", function() {
    var img1 = $('#carousel-button-img1');
    var img2 = $('#carousel-button-img2');
    if (img1.attr('src') == '/static/pictures/ellipse-red.png') {
      img1.attr('src', '/static/pictures/ellipse-grey.png');
      img2.attr('src', '/static/pictures/ellipse-red.png');
    } else {
      img1.attr('src', '/static/pictures/ellipse-red.png');
      img2.attr('src', '/static/pictures/ellipse-grey.png');
    }
  });

  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-9730554-3', 'openworldforum.org');
  ga('send', 'pageview');
  ga('create', 'UA-15824279-2', 'openworldforum.org');
  ga('send', 'pageview');

</script>
</html>
