<footer style="background-color: #4f5962">
  <div style="padding-top: 30px; padding-bottom: 30px" class="container row">
    <div id="footer-links" class="span3">
      <a href="/en/about/">About the Open World Forum</a><br/>
      <a href="/en/practical-information/">Practical information</a><br/>
      <a href="/en/press/">Press</a><br/>
      <a href="/en/legal-notice/">Legal notice</a><br/>
      <a href="/en/confidentiality/">Confidentiality policy</a><br/>
      <a href="/en/sitemap/">Site map</a><br/>
    </div>
    <div id="footer-button" class="span3">
      <div id="edition-pre">
        <a href="/en/previous-editions/">Previous editions</a>
      </div>
      <div id="contact" style="">
        <a href="/en/contact/">Contact us</a>
      </div>
    </div>
    <div id="application" class="span3">
      <h1 id="application-title">Download</h1>

      <h2 id="application-sub-title">The mobile app</h2>

      <a href="https://itunes.apple.com/fr/app/open-world-forum/id705081689?mt=8"><img id="apple" src="/static/pictures/1309170333_apple.png" alt=""/></a>
      <a href="https://play.google.com/store/apps/details?id=com.open_world_forum.mobile"><img id="android" src="/static/pictures/android_logo.png" alt=""/></a>
    </div>
  </div>
</footer>
