<footer style="background-color: #4f5962">
  <div style="padding-top: 30px; padding-bottom: 30px" class="container row">
    <div id="footer-links" class="span3">
      <a href="/fr/a-propos/">A propos de l'Open World Forum</a><br/>
      <a href="/fr/infos-pratiques/">Informations pratiques</a><br/>
      <a href="/fr/presse/">Presse</a><br/>
      <a href="/fr/mentions-legales/">Mentions légales</a><br/>
      <a href="/fr/politique-confidentialite/">Politique de confidentialité</a><br/>
      <a href="/fr/sitemap/">Plan du site</a><br/>
    </div>
    <div id="footer-button" class="span3">
      <div id="edition-pre">
        <a href="/fr/editions-precedentes/">Éditions précédentes</a>
      </div>
      <div id="contact" style="">
        <a href="/fr/contact/">Nous contacter</a>
      </div>
    </div>
    <div id="application" class="span3">
      <h1 id="application-title">Télécharger</h1>

      <h2 id="application-sub-title">L'application Mobile</h2>

      <a href="https://itunes.apple.com/fr/app/open-world-forum/id705081689?mt=8"><img id="apple" src="/static/pictures/1309170333_apple.png" alt=""/></a>
      <a href="https://play.google.com/store/apps/details?id=com.open_world_forum.mobile"><img id="android" src="/static/pictures/android_logo.png" alt=""/></a>
    </div>
  </div>
</footer>
