<div id="fast-acces-div">
  <ul id="fast-acces-menu" class="container">
    <li class="hidden-xs">
      <a href="#main">{{ _("Go to content") }}</a>
    </li>
    <li class="hidden-xs">
      <a href="#menu-nav">{{ _("Go to navigation") }}</a>
    </li>
    <li class="hidden-xs">
      <a href="#search-form">{{ _("Go to search") }}</a>
    </li>

    <li class="fast-acces-right">
      | {% if not g.user.is_anonymous() %}
      <span class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
            class="fa fa-user"></span>
          {{ g.user.name or g.user.email }}
          <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1"
                href="{{ url_for("auth.profile") }}">{{ _("Profile") }}</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1"
                href="{{ url_for("auth.logout") }}">{{ _("Logout") }}</a>
          </li>
        </ul>
      </span>
    {% else %}
      <a href="{{ url_for("auth.login", next=request.url) }}"
          class=signin>{{ _("Sign in") }}</a>
    {% endif %}
    </li>

    <li class="fast-acces-right"><a
        class="fast-acces-a lang {% if lang =='en' %}lang-actif{% endif %}"
        href="/en/">English</a>
    </li>
    <li class="fast-acces-right"><a
        class="fast-acces-a lang {% if lang =='fr' %}lang-actif{% endif %}"
        href="/fr/">Français</a>
    </li>

  </ul>
</div>

<header class="container header" role="banner">

  <div class="logo">
    <a href="{{ url_for("localized.home") }}"><img class="logo-img"
        src="/static/pictures/Calque1.png" alt="Open World Forum"></a>
  </div>

  {#  <div id="fast-acces-div" class="visible-xs">#}
  {#    <ul id="fast-acces-menu" class="container">#}
  {#      {% if lang == 'fr' %}#}
  {#        {% include "_skiplink_fr.html" %}#}
  {#      {% else %}#}
  {#        {% include "_skiplink_en.html" %}#}
  {#      {% endif %}#}
  {#      <li class="fast-acces-right"><a#}
  {#          class="fast-acces-a lang {% if lang =='en' %}lang-actif{% endif %}"#}
  {#          href="/en/">English</a>#}
  {#      </li>#}
  {#      <li class="fast-acces-right"><a#}
  {#          class="fast-acces-a lang {% if lang =='fr' %}lang-actif{% endif %}"#}
  {#          href="/fr/">Français</a>#}
  {#      </li>#}
  {#    </ul>#}
  {#  </div>#}

  <ul id="navbar-ul" class="hidden-xs">
    <li class="navbar-newsletter">
      <a href="http://eepurl.com/dACrj"><img alt="newsletter" width="25px"
          height="19px" src="/static/pictures/1366984852_White_Email.png">
        Newsletter</a>
    </li>
    <li class="share-a">
      <a href="https://www.facebook.com/OpenWorldForum">
        <img alt="Facebook Open Word Forum"
            src="/static/pictures/1366984111_picons06.png" width="18px"
            height="18px"/>
      </a>
    </li>
    <li class="share-a">
      <a href="https://twitter.com/openworldforum">
        <img alt="Twitter Open World Forum"
            src="/static/pictures/1366984104_picons03.png" width="23px"
            height="22px"/>
      </a>
    </li>
    <li class="share-a">
      <a href="http://www.linkedin.com/groups?gid=1561767&trk=group-name">
        <img alt="Linkedin" src="/static/pictures/1366984119_picons11.png"
            width="18px" height="18px"/>
      </a>
    </li>
    <li class="share-a">
      <a href="http://lanyrd.com/2014/owf2014/">
        <img src="/static/pictures/Calque2.png" width="15px" height="17px"
            alt="Lanyrd"/>
      </a>
    </li>
    <li class="share-a">
      <a href="{{ url_for("localized.feed") }}">
        <img src="/static/pictures/1366984127_picons20.png" width="18px"
            height="18px" alt="Feed"/>
      </a>
    </li>
    <li class="search-form hidden-sm hidden-xs" id="search-form">
      <!--<img src="/static/pictures/MagnifyingGlass.png" width="16px" height="16px"/>-->
      <form action="/{{ lang }}/search">
        <input name="qs" type="text" value="{{ request.args.get('qs', '') }}"/>
        <a onclick="submit();">{{ _("Search") }}</a>
      </form>
    </li>
  </ul>


  <nav class="navbar-default" role="navigation">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#menu-nav-div">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <div id="menu-nav-div" class="collapse navbar-collapse" role="navigation">
        <ul id="menu-nav" class="nav navbar-nav">
          {% for entry in menu %}
            {% if entry.path.startswith("/") %}
              {% set url=entry.path %}
            {% else %}
              {% set url=url_for("localized.home") + entry.path %}
            {% endif %}
            <li><a href="{{ url }}"
                class="{{ entry.class }}">{{ entry.label }}</a>
            </li>
          {% endfor %}
          <li class="search-form hidden-sm visible-xs" id="search-form">
            <!--<img src="/static/pictures/MagnifyingGlass.png" width="16px" height="16px"/>-->
            <form action="/{{ lang }}/search">
              <a onclick="submit();">{{ _("Search") }}</a>
              <input name="qs" type="text"
                  value="{{ request.args.get('qs', '') }}"/>

            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
