{% macro m_sidebar(recent_news, with_images=False) %}
  <!-- BEGIN RIGHT-SIDEBAR -->
  <div id="right-sidebar" class="span4 sidebar">
    <div class="sidebar-news-widget sidebar-block">

      <h2>Actualité récente</h2>
      <ul>
        {% for item in recent_news %}
          <li>
            <span class="news-date">{{ item.date|dateformat }}</span>
            <span class="latest-news-menu-content"><a
                href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a></span>
          </li>
          {% if not loop.last %}
            <div class="hr"></div>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END RIGHT-SIDEBAR -->
{% endmacro %}

{% macro m_speaker_details(speaker) %}
  {% if speaker.title %}
    <p><b>{{ _("Title") }}:</b> {{ speaker.title }}</p>
  {% endif %}

  {% if speaker.organisation %}
    <p><b>{{ _("Organization") }}:</b> {{ speaker.organisation }}</p>
  {% endif %}

  {% if speaker.website %}
    <p><b>{{ _("Website") }}</b>: <a href="{{ speaker.website }}">{{ speaker.website }}</a>
    </p>
  {% endif %}

  {% if speaker.twitter_handle %}
    <p><b>Twitter</b>: <a
        href="https://twitter.com/{{ speaker.twitter_handle }}">@{{ speaker.twitter_handle }}</a>
    </p>
  {% endif %}
{% endmacro %}

{% macro m_speaker(speaker) %}
  <a href="{{ url_for(speaker) }}">{{ speaker }}</a>
  {% if speaker.organisation %}
    {% if speaker.title %}
      ({{ speaker.title }}, {{ speaker.organisation }})
    {% else %}
      ({{ speaker.organisation }})
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro m_day_tabs(day) %}
  <ul class="nav nav-tabs" style="margin-top: 5px; margin-bottom: 5px;">
    <li {% if day==1 %}class="active"{% endif %}><a href="../1/">{{ _("Day 1 - Thursday Oct. 3rd") }}</a></li>
    <li {% if day==2 %}class="active"{% endif %}><a href="../2/">{{ _("Day 2 - Friday Oct. 4th") }}</a></li>
    <li {% if day==3 %}class="active"{% endif %}><a href="../3/">{{ _("Day 3 - Saturday Oct. 5th") }}</a></li>
  </ul>
{% endmacro %}
