{% extends "_base.html" %}

{% block main %}
  <div class="container content">

    <div class="row">
      <div class="col-md-12">

        <div class="row clear-both">
          <div class="col-md-12 main-column two-columns-right">
            <article>
              <h1 class="page-title">{{ page.title }}</h1>

              {% if page.bloc1 %}
                <blockquote>{{ page.bloc1 }}</blockquote>
              {% endif %}

              {{ page.html|safe }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
