<div id="partners" class="container">
    <h1 class="section-title partners-title">{{ _("Our partners") }}</h1>

    <div class="clear"></div>
    <!--
      <div class="row-fluid" style="margin-bottom: 30px">
        <div class="span12 partners-span" id="institutional-partners">
          <p class="partners-sub-title">{{ _("Institutional partners") }} (2013)</p>

          <a href="http://www.iledefrance.fr/" target="_blank"><img
              src="/static/pictures/Region-Ile-de-France_logoSponsor.jpg"
              width="130"/></a>
         </div>
      </div>-->

    <!--<div class="row-fluid" style="margin-bottom: 30px;">
         <div class="span4">
          <p class="partners-sub-title">{{ _("Diamond Sponsor") }} (2013)</p>

          <a href="/{{ lang }}/partners/#inria"><img alt="Inria"
              src="/static/pictures/page sponsor et organisateurs/INRIA_sponsor page.jpg" width="200"/></a>

         </div>-->

    <!--<div class="span4">
          <p class="partners-sub-title">{{ _("Platinum sponsors") }} (2013)</p>

          <a href="/{{ lang }}/partners/#alter way"><img alt="Ater Way"
              src="/static/pictures/partners/logo_aw_rvb_copie.png"/></a>
         </div>-->

    <!--<div class="span4">
          <p class="partners-sub-title">{{ _("Gold sponsors") }} (2013)</p>

            <a href="http://www.redhat.com/"><img alt="Red Hat"
              src="/static/pictures/partners/redhat-logo - partners.jpg"/></a>

        </div>

      </div>-->

    <!--<div class="row-fluid" style="margin-bottom: 30px;">
         <div class="span12">
          <p class="partners-sub-title">{{ _("Silver sponsors") }} (2013)</p>



         </div>

      </div>
      -->

    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-4 col-xs-12">
        <p class="partners-sub-title">{{ _("Organizer") }}</p>
        <a href="/{{ lang }}/partners/#systematic" target="_blank"><img
            src="/static/pictures/partners/Systematic_large.png"
            alt="Systematic"/></a>
      </div>

      <div class="col-md-8 col-xs-12">
        <p class="partners-sub-title">{{ _("Co-organizers") }}</p>

        <a href="/{{ lang }}/partners/#abilian" class="hidden-xs"><img alt='Abilian'
            src="/static/pictures/partners/abilian_logosponsors.png"/></a>
        <a href="/{{ lang }}/partners/#alter way"><img alt="Alter Way"
            src="/static/pictures/partners/logo_aw_rvb_copie-orga.png"/></a>
        <a href="/{{ lang }}/partners/#cap" class="hidden-xs"><img alt="Cap Digital"
            src="/static/pictures/partners/cap_digital_logosponsors.jpg"/></a>
        <a href="http://www.henix.com/" target="_blank" class="hidden-xs"><img alt="Henix"
            src="/static/pictures/partners/henix.png"/></a>
        <a href="/{{ lang }}/partners/#inria" class="hidden-xs"><img alt="Inria"
            src="/static/pictures/partners/INRIA_logoSponsor.jpg"/></a>
        <a href="/{{ lang }}/partners/#smile" class="hidden-xs"><img alt="Smile"
            src="/static/pictures/partners/Smile_logoSponsor.png"/></a>
      </div>

    </div>
    <a href="">
      <button class="btn section-button visible-xs">
        {{ _("Tous nos partenaires") }}
      </button>
    </a>
    <!--<div class="row-fluid" style="margin-bottom: 30px">
        <div class="span12 partners-span" id="community partners">
          <p class="partners-sub-title">{{ _("Community Partners") }} (2013)</p>

          <a href="http://www.adullact.org/"><img alt="adullact"
              src="/static/pictures/partners/logo ADULLACT [Converti] 1.jpg"/></a>
        </div>
      </div>-->

    <!--<div class="row-fluid" style="margin-bottom: 30px">
        <div class="span12 partners-span" id="webtv-partner">
          <p class="partners-sub-title">{{ _("WebTV Partner") }} (2013)</p>

          <a href="http://www.intelli-n.fr/"><img alt="Intelli'N"
              src="/static/pictures/presse/intellin-test.png"/></a>

        </div>
      </div>-->

    <!--<div class="row-fluid">
        <div class="span12 partners-span" id="press-partners">
          <p class="partners-sub-title">{{ _("Press partners") }} (2013)</p>

          <a href="http://pro.01net.com/" target="_blank"><img alt="01business"
              src="/static/pictures/presse/logo_01Business.jpg"></a>
        </div>
      </div>-->

  </div>
</div>
