<div id="partners">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="section-title partners-title">{{ _("Our partners") }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 partners-span" id="institutional-partners">
        <p class="partners-sub-title">{{ _("Institutional partners") }}</p>

        <a href="http://www.iledefrance.fr/" target="_blank"><img
            alt="Région Ile-de-France"
            src="/static/pictures/partners/region-idf.png"></a>

        <a href="http://www.paris.fr/" target="_blank"><img
            alt="Mairie de Paris"
            src="/static/pictures/partners/mairie-paris.png"></a>

        <a href="http://www.paris-region.com/" target="_blank"><img
            src="/static/pictures/partners/paris-region.png"
            alt="Paris Region"/></a>

        <a href="http://www.lafrenchtech.com/" target="_blank"><img
            alt="La French Tech"
            src="/static/pictures/partners/french-tech.png"/></a>
      </div>
    </div>

    <div class="row">
        <div class="span4">
         <p class="partners-sub-title">{{ _("Diamond Sponsor") }} (2013)</p>

         <a href="/{{ lang }}/partners/#inria"><img alt="Inria"
             src="/static/pictures/page sponsor et organisateurs/INRIA_sponsor page.jpg" width="200"/></a>

        </div>

    <div class="row">
      <div class="col-md-3 col-xs-12" id="organisers">
        <p class="partners-sub-title">{{ _("Organizer") }}</p>
        <a href="http://www.systematic-paris-region.org/" target="_blank"><img
            src="/static/pictures/partners/systematic.jpg"
            alt="Systematic"/></a>
      </div>

      <div class="col-md-9 col-xs-12" id="co-organisers">
        <p class="partners-sub-title">{{ _("Co-organizers") }}</p>

        <a href="http://www.abilian.com/"><img alt='Abilian'
            src="/static/pictures/partners/abilian_logosponsors.png"/></a>
        <a href="http://www.alterway.fr/"><img alt="Alter Way"
            src="/static/pictures/partners/logo_aw_rvb_copie-orga.png"/></a>
        <a href="http://www.capdigital.com/"><img alt="Cap Digital"
            src="/static/pictures/partners/cap_digital_logosponsors.jpg"/></a>
        <a href="http://www.henix.fr/"><img alt="Henix"
            src="/static/pictures/partners/henix.png"/></a>
        <a href="http://www.smile.fr/"><img alt="Smile"
            src="/static/pictures/partners/Smile_logoSponsor.png"/></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-12" id="platinum-sponsors">
        <p class="partners-sub-title">{{ _("Platinum sponsors") }} </p>

        <a href="http://www.alterway.fr/"><img alt="Ater Way"
            src="/static/pictures/partners/logo_aw_rvb_copie-orga.png"/></a>
        <a href="http://www.smile.fr/"><img alt="Smile"
            src="/static/pictures/partners/Smile_logoSponsor.png"/></a>  
            
      </div>

      <div class="col-md-5 col-xs-12" id="gold-sponsors">
        <p class="partners-sub-title">{{ _("Gold sponsors") }} </p>

        <a href="http://www.henix.fr/"><img alt="Henix"
            src="/static/pictures/partners/henix.png"/></a>
        <a href="https://www.savoirfairelinux.com/"><img
            alt="Savoir-faire Linux"
            src="/static/pictures/partners/Savoir-faireLinux.png"/></a>
      </div>

      <div class="col-md-4 col-xs-12" id="silver-sponsors">
        <p class="partners-sub-title">{{ _("Silver sponsors") }} </p>

        <a href="http://www.hp.com/"><img alt="HP"
            src="/static/pictures/partners/Hewlett-Packard_logoSponsor.png"/></a>
        <a href="http://www.mozilla.org/"><img alt="Mozilla"
            src="/static/pictures/partners/mozilla.png"/></a>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" id="community-partners">
        <p class="partners-sub-title">{{ _("Community Partners") }}</p>

        <a href="http://www.adullact.org/"><img alt="adullact"
            src="/static/pictures/partners/adullact.jpg"/></a>
        <a href="https://aful.org/"><img alt="aful"
            src="/static/pictures/partners/aful.png"/></a>
        <a href="http://cnll.fr/"><img alt="CNLL"
            src="/static/pictures/partners/cnll.png"/></a>
        <a href="http://www.documentfoundation.org/"><img
            alt="document foundation"
            src="/static/pictures/partners/document_foundation.png"/></a>
        <a href="http://www.eclipse.org/" target="_blank"><img alt="eclipse"
            src="/static/pictures/partners/eclipse.png"/></a>
        <a href="http://linuxfr.org/"><img alt="Linuxfr"
            src="/static/pictures/partners/linuxfr.png"/></a>
        <a href="http://www.ow2.org/"><img alt="OW2"
            src="/static/pictures/partners/ow2.png"/></a>
        <a href="https://www.owasp.org"><img alt="OWASP"
            src="/static/pictures/partners/OWASP.jpg"/></a>


      </div>
    </div>

    <!--<div class="row">
      <div class="span12 partners-span" id="webtv-partner">
        <p class="partners-sub-title">{{ _("WebTV Partner") }} (2013)</p>

        <a href="http://www.intelli-n.fr/"><img alt="Intelli'N"
            src="/static/pictures/presse/intellin-test.png"/></a>

      </div>
    </div>-->

    <div class="row">
        <div class="span12 partners-span" id="press-partners">
          <p class="partners-sub-title">{{ _("Press partners") }} (2013)</p>

          <a href="http://www.channelbiz.fr/" target="_blank"><img alt="ChannelBiz"
              src="/static/pictures/presse/Channelbiz.png"></a>
          <a href="http://www.cio.com" target="_blank"><img alt="CIO"
              src="/static/pictures/presse/CIO.jpg"></a>
          <a href="http://www.collaboratif-info.fr/" target="_blank"><img alt="Collaboratif Info"
              src="/static/pictures/presse/Collaboratif Info.jpg"></a>
          <a href="http://www.developpez.com/" target="_blank"><img alt="Developpez"
              src="/static/pictures/presse/developpez.png"></a>
          <a href="http://www.informatiquenews.fr/" target="_blank"><img alt="Informatique News"
              src="/static/pictures/presse/Informatique.jpg"></a>
          <a href="http://www.itespresso.fr/" target="_blank"><img alt="IT espresso"
              src="/static/pictures/presse/Itespresso.png"></a>
          <a href="http://www.it-expertise.com/" target="_blank"><img alt="IT expertise"
              src="/static/pictures/presse/it-expert magazine.png"></a>
          <a href="http://www.lemagit.fr/" target="_blank"><img alt="Le Mag IT"
              src="/static/pictures/presse/LeMagIT.jpg"></a>
          <a href="http://www.lemondeinformatique.fr/" target="_blank"><img alt="Le Monde Informatique"
              src="/static/pictures/presse/LeMondeInformatique.png"></a>
          <a href="http://boutique.ed-diamond.com/" target="_blank"><img alt="Linux Mag"
              src="/static/pictures/presse/Linux Mag.jpg"></a>    
          <a href="http://boutique.ed-diamond.com/" target="_blank"><img alt="Linux Pratique"
              src="/static/pictures/presse/Linux Pratique.jpg"></a>               
           <a href="http://www.open-source-guide.com/" target="_blank"><img alt="Open Source Guide"
              src="/static/pictures/presse/Open-source-guide.png"></a>            
           <a href="http://www.reseaux-telecoms.net/" target="_blank"><img alt="Réseaux et Télécoms"
              src="/static/pictures/presse/Reseauxettelecoms.png"></a>               
           <a href="http://www.silicon.fr/" target="_blank"><img alt="Silicon"
              src="/static/pictures/presse/silicon.jpg"></a>    
        </div>
      </div>

  </div>
</div>

<div id="think-code-experiment">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 domain">
        <a href="/{{ lang }}/think/">
          <img class="hidden-xs" src="/static/pictures/idea-img.png"
              alt="THINK"/>

          <h2 class="think">THINK</h2>
        </a>
      </div>

      <div class="col-sm-4 domain">
        <a href="/{{ lang }}/code/">
          <img class="hidden-xs" src="/static/pictures/keyboard-img.png"
              alt="Code"/>

          <h2 class="code">CODE</h2>
        </a>
      </div>

      <div class="col-sm-4 domain">
        <a href="/{{ lang }}/experiment/">
          <img class="hidden-xs" src="/static/pictures/experience-img.png"
              alt="Experiment"/>

          <h2 class="experiment">EXPERIMENT</h2>
        </a>
      </div>
    </div>
  </div>

</div>
