{% extends "_base.html" %}

{% from "_macros.html" import m_day_tabs, m_sidebar, m_speaker with context %}

{% block main %}
  <div class="container" style="width: 940px;">

    <div class="row show-grid">
      <div class="span12">

        <div class="row show-grid clear-both">
          <div class="span12 main-column two-columns-right">
            <article class="plenary">
              <h1 class="page-title">{{ _("Schedule") }}</h1>

              {{ m_day_tabs(day) }}

              <h2>{{ page.title }}</h2>


              {% if day == 3 %}
                {% trans %}
                You can find the sessions in the grid below, but there's a lot more!
                Please see <a href="http://openworldforum.org/fr/news/programme-experiment/">the EXPERIMENT exhibition program</a>.
                {% endtrans %}
              {% endif %}

              <h3>{{ _("All tracks for today") }}</h3>

              <ul>
                {% for track in tracks %}
                  <li style="list-style: none;">
                    <span class="track{{ track.id }}"
                        style="border: 1px solid black; width: 100px; height: 10px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    &nbsp;
                    <a href="#track-{{ track.id }}">{{ track.name }}</a>
                    ({{ _("Room") }} {{ track.room }},
                    {{ track.starts_at.strftime("%H:%M") }}-{{ track.ends_at.strftime("%H:%M") }})
                    - <a href="{{ url_for(track) }}">{{ _("details") }}</a>
                  </li>
                {% endfor %}
              </ul>

              <h3>{{ _("Time table") }}</h3>

              <table id="schedule">
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  {% for room in rooms %}
                    <td class="text-center"><b><a class="text-center"
                        href="{{ url_for(room) }}">{{ _("Room") }} {{ room }}</a></b>
                      <br>
                      <span
                          class="text-center">({{ room.capacity }} {{ _("seats") }})</span>
                    </td>
                  {% endfor %}
                </tr>

                {% for row in time_table %}
                  <tr>
                    <td><span
                        style="width: 55px; text-wrap: none; text-align: right;">{{ loop.index0+9 }}h-{{ loop.index0+10 }}h</span>
                    </td>
                    {% for cell in row %}
                      <td>
                        {% if cell.track %}
                          <a id="track-{{ cell.track.id }}"></a>
                          <div
                              class="track track{{ cell.track.id }}">{{ _("Track") }}: {{ cell.track }}</div>
                        {% endif %}

                        {% for talk in cell.talks %}
                          <div class="talk track{{ talk.track.id }}">
                            <a class="talk-detail" data-toggle="popover"
                                data-trigger="hover" data-placement="bottom"
                                data-content="{{ talk.abstract_rendered }}"
                                title="{{ talk.title }}" data-html="true"
                                data-original-title="{{ talk.title }}"
                                style="text-decoration: none; color: black;">
                              <div
                                  class="start-time">{{ talk.starts_at.strftime("%H:%M") }}</div>

                              <div><b>{{ talk.title }}</b></div>
                              <div>{% for speaker in talk.speakers %}
                                {{ speaker }} {% endfor %}</div>
                            </a>

                            <div class="text-center" style="margin-top: 10px;">
                              <a href="{{ url_for(talk) }}"
                                  class="btn btn-mini">{{ _("More info") }}</a>
                            </div>

                            {% if not loop.last %}
                              <div class="hr"
                                  style="margin-top: 10px; margin-bottom: 10px;"></div>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>


              <h3>{{ _("Tracks details") }}</h3>

              {% for track in tracks %}
                <hr>
                <a id="details-{{ track.id }}"></a>
                <h4><a href="{{ url_for(track) }}">{{ track.name }}</a></h4>

                <p>Theme: <a
                    href="{{ url_for(track.theme) }}">{{ track.theme }}</a>
                </p>

                <p>Room: <a
                    href="{{ url_for(track.room) }}">{{ track.room }}</a>
                </p>

                <p>From: {{ track.starts_at.strftime("%H:%M") }}
                  to {{ track.ends_at.strftime("%H:%M") }}</p>

                <p>
                  {{ track.description|markdown }}
                </p>

                <p><a class="btn" href="{{ url_for(track) }}">{{ _("More info") }}</a></p>
              {% endfor %}
            </article>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <script>
    $(function() {
      $('.talk-detail').popover();
    });
  </script>

{% endblock %}
