{% extends "_base.html" %}

{% block hero %}
  <div class="container clear">
    <img id="home-jumbotron" src="/static/pictures/middle-img-{{ lang }}.png">
  </div>
{% endblock %}

{% block main %}
{#  <div class="container" style="margin-bottom: 30px;">#}
{#    <h2>{{ _("Watch the event live!") }}</h2>#}
{##}
{#    <iframe#}
{#        src="http://api.dmcloud.net/player/embed/5072e9f306361d1c4a000710/544f96d494739923e6a2c6d2?auth=1729958453-0-ls8n0fi3-1b3869676d017325465182c9612c9fae&autoplay=1"#}
{#        width="940" height="460" frameborder="0" allowfullscreen></iframe>#}
{##}
{#  </div>#}

  {# ######################################################################## #}

  <div class="home-about">
    <div class="container">
      {% if lang=='en' %}
        <p>
          Explore <em>Open Source</em>, <em>Open Hardware</em>, <em>Open
          Data</em>
          and the <em>Open Web</em> with the world's <em>top technical, business
          and thought leaders</em>, and the most vibrant communities, for two
          days (Oct 30-31) in the heart of Paris's downtown
          business and entertainment district. </p>

        <div class="btn-bar">
          <a href="about/" class="btn btn-info btn-large">Why attend?</a>
          <a href="/register/" class="btn btn-primary btn-large">Register for
            free</a>
        </div>
      {% else %}
        <p>
          Venez explorer les enjeux du <em>logiciel libre et open source</em>,
          de l'<em>open hardware</em>, de l'<em>open data</em>,
          de l'<em>Open Web</em> et de l'<em>open innovation</em>, avec les
          plus grands noms de la
          <em>technologie</em>,
          des <em>affaires</em> et de la <em>prospective</em>, et les
          <em>communautés</em> les plus
          dynamiques du domaine, deux jours durant (30-31 octobre
          2014), au coeur du quartier des affaires de Paris</p>

        <div class="btn-bar">
          <a href="about/" class="btn btn-info btn-large">Pourquoi participer
            ?</a>
          <a href="/register/" class="btn btn-primary btn-large">Je m'inscris
            gratuitement</a>
        </div>
      {% endif %}
    </div>
  </div>


  {# ######################################################################## #}

  {% if speakers %}
    <div class="home-speakers hidden-xs">
      <div class="container">
        <h1 class="section-title">{{ _("Our speakers") }}</h1>

        <button class="btn section-button"><a
            href="speakers/">{{ _("All the speakers") }}</a></button>

        <div class="clear"></div>

        <div class="row">
          {% for speaker in speakers[0:8] %}
            <div class="col-sm-3 speaker">
              <a href="{{ url_for(speaker) }}">
                <img class="speaker-img"
                    src="{{ url_for(".photo", speaker_id=speaker.id, s=213) }}"
                    alt="Speaker"/>

                <h5 class="speaker-name">{{ speaker.first_name }}
                  <br>{{ speaker.last_name }}
                </h5>

                <h6 class="speaker-job">
                  {% if speaker.organisation %}{{ speaker.organisation }}
                  {% else %}&nbsp;
                  {% endif %}
                </h6>
              </a>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  {% endif %}

  {# ############################# NEWS #################################### #}

  <div id="home-latest-news">
    <div class="container">
      <h1 class="section-title">{{ _("Latest news") }}</h1>

      <button class="btn section-button hidden-xs"><a
          href="{{ url_for(".news") }}">{{ _("All the latest news") }}</a>
      </button>

      <div class="clear"></div>

      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner hidden-xs">
          <div class="item active">
            <div class="row">
              {% for item in news[0:3] %}
                <div class="col-sm-4">
                  <div class="latest-news-card">
                    <a href="{{ url_for(".news_item", slug=item.slug) }}">
                      <img
                          src="{{ url_for(".image_for_news", slug=item.slug, size="small") }}"
                          alt=""/>
                    </a>

                    <div class="latest-news-content">
                      <h4><a
                          href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>
                      </h4>

                      <span
                          class="latest-news-date">{{ item.date | dateformat }}</span>

                      <p><a
                          href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.abstract }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for item in news[3:6] %}
                <div class="col-sm-4">
                  <div class="latest-news-card">
                    <img
                        src="{{ url_for(".image_for_news", slug=item.slug, size="small") }}"
                        width="300" height="225" alt=""/>

                    <div class="latest-news-content">
                      <h4><a
                          href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>
                      </h4>
                    <span
                        class="latest-news-date">{{ item.date | dateformat }}</span>

                      <p><a
                          href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.abstract }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div id="myCarousel" class="carousel slide visible-xs">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                {% for item in news[0:2] %}
                  <div class="col-sm-4">
                    <div class="latest-news-card">
                      <a href="{{ url_for(".news_item", slug=item.slug) }}"
                          class="hidden-xs hidden-sm">
                        <img
                            src="{{ url_for(".image_for_news", slug=item.slug, size="small") }}"
                            alt=""/>
                      </a>

                      <div class="latest-news-content">
                        <h2><a
                            href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>
                        </h2>

                        <!-- <span
                            class="latest-news-date">{{ item.date | dateformat }}</span>

                        <p><a
                            href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.abstract }}</a>
                        </p> -->
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="container hidden-xs">
          <div id="carousel-control" class="latest-news-slide-control">
            <a id="carousel-button1" href="#myCarousel" data-slide-to="0">
              <img id="carousel-button-img1"
                  src="/static/pictures/ellipse-red.png"
                  alt="actualités précédentes"/>
            </a>
            <a id="carousel-button2" href="#myCarousel" data-slide-to="1">
              <img id="carousel-button-img2"
                  src="/static/pictures/ellipse-grey.png"
                  alt="actualités suivantes"/>
            </a>
          </div>
        </div>
      </div>

      <a href="{{ url_for(".news") }}">
        <button
            class="btn section-button visible-xs">{{ _("All the latest news") }}
        </button>
      </a>

    </div>
  </div>


  {# ############################# 2013 ################################### #}

  <div id="2013" class="hidden-xs last-year legible nospace clearfix">
    <div class="resetcoords full fill-dark">

      <a href="{% if lang == 'fr' %}/fr/editions-precedentes/{% else %}/en/previous-editions{% endif %}">
        <div class="band last-year white freeflow full">
          <h1 class="huge centered">
            2013 Edition</h1>
          <ul class="large numbers-2012 centered">
            <li class="numbers-2012-days">3 days</li>
            <li class="numbers-2012-tracks">40 tracks</li>
            <li class="numbers-2012-sessions">250 talks</li>
            <li class="numbers-2012-participants">2200 participants</li>
          </ul>
        </div>
      </a>
      <ul class="flipboard"></ul>
      <script id="card-template" type="text/template">
        <li>
          <div class="flipcard">
            <p class="face front"></p>

            <p class="face back"></p>
          </div>
        </li>
      </script>
    </div>
  </div>
{% endblock %}
