{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
<div class="container" style="width: 940px;">

  <div class="row show-grid news">
    <div class="span12">
      <div class="row show-grid clear-both">
        <div class="span8 main-column two-columns-right">
          <article>
            <a href="{{ url_for(".news_item", slug=page.slug) }}"><h1 class="page-title">{{ page.title }}</h1></a>
            <p class="news-date">{{ page.date | dateformat }}</p>
            <img alt="" src="{{ url_for(".image_for_news", slug=page.slug, size="large") }}"/>

            {{ page.html|safe }}

          </article>
        </div>

        {{ m_sidebar(recent_news) }}
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
