{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
  <div class="container" style="width: 940px;">
    <div class="row show-grid news">
      <h1 class="page-title">{{ page.title }}</h1>

      <div class="span12">
        <div class="row show-grid clear-both">
          <div class="span8 main-column two-columns-right blog-posts">
            {% for entry in news %}
              <article>
                <a href="{{ url_for(".news_item", slug=entry.slug) }}"><h2>{{ entry.title }}</h2></a>
                <p class="news-date">{{ entry.date | dateformat }}</p>
                <img alt="" src="{{ url_for(".image_for_news", slug=entry.slug, size="large") }}"/>

                {{ entry.html|safe }}

                    {#
                <div class="post-item-panel">
                  <ul>
                    <li class="date">
                      <p><i
                          class="icon-calendar"></i>{{ entry.date.strftime("%d/%m/%Y") }}
                      </p>
                    </li>
                    <li>
                      <p><i class="icon-user"></i>par Admin</p>
                    </li>
                  <li>
                    <p><i class="icon-tags"></i><a href="">marketing</a>, <a
                      href="">SEO</a></p>
                  </li>
                  <li class="comments"><p><i
                      class="icon-comments-alt"></i><span>2 comments</span>
                  </p></li>
                  </ul>
                </div>
                  #}
              </article>
              {% if not loop.last %}
                <hr>
              {% endif %}
            {% endfor %}
          </div>

          {{ m_sidebar(recent_news, with_images=True) }}
        </div>
      </div>
    </div>
    <hr>
  </div>
{% endblock %}
