{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
  <div class="container content">

    <div class="row news">
      <div class="col-sm-12">
        <div class="row clear-both">
          <div class="col-sm-8 main-column two-columns-right">
            <article>
              <a href="{{ url_for(".news_item", slug=page.slug) }}"><h1
                  class="page-title">{{ page.title }}</h1></a>

              <p class="news-date">{{ page.date | dateformat }}</p>
              <img alt=""
                  src="{{ url_for(".image_for_news", slug=page.slug, size="large") }}"/>

              {{ page.html|safe }}

            </article>
          </div>

          {{ m_sidebar(recent_news) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
