{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar, m_speaker_details %}

{% block main %}
  <div class="container content">

    <article class="speakers" id="speakers">
      <h1 class="page-title">{{ _("Participants") }}</h1>

      {% for participant in participants %}
        <div class="member-card col-md-6 col-xs-12">
          <div class="member-card-content">
            <img class="member-image" src="{{ picture_url(participant) }}">

            <div class="member-name">
              {{ participant.first_name }}
              {{ participant.last_name }}
            </div>

            <div class="member-org">
              {{ participant.organization }}
            </div>

            <div class="member-bio">
              {{ participant.bio }}
            </div>

            <div class="member-links">
              {% if participant.url %}
                <a href="{{ participant.url }}"><span
                    class="fa fa-2x fa-home"></span></a>
              {% endif %}
              {% if participant.twitter_handle %}
                <a href="https://twitter.com/{{ participant.twitter_handle }}"><span
                    class="fa fa-2x fa-twitter"></span></a>
              {% endif %}
            </div>

          </div>
        </div>
      {% endfor %}

      <div class="clearfix"></div>

    </article>
  </div>
{% endblock %}
