{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar, m_speaker with context %}

{% block main %}
  <div class="container" style="width: 940px;">

    <div class="row show-grid">
      <div class="span12">

        <div class="row show-grid clear-both">
          <div class="span12 main-column two-columns-right">
            <article>
              <h1 class="page-title">{{ page.title }}</h1>

              {% for day, tracks in days %}
                {% if not loop.first %}
                  <hr>{% endif %}
                <h2>{{ day.strftime("%A %d %B") }}</h2>

                {% for track in tracks %}
                  <h3><a href="{{ url_for(track) }}">{{ track.name }}</a></h3>

                  <p>Theme: <a href="{{ url_for(track.theme) }}">{{ track.theme }}</a></p>

                  <p>Room: <a href="{{ url_for(track.room) }}">{{ track.room }}</a></p>

                  <p>From: {{ track.starts_at.strftime("%H:%M") }}
                  to {{ track.ends_at.strftime("%H:%M") }}</p>

                  {% if track.track_leaders %}
                    <p>Track leader(s):
                      {% for track_leader in track.track_leaders %}
                        {{ m_speaker(track_leader) }}
                        {%- if not loop.last %} / {%- endif %}
                      {% endfor %}
                    </p>
                  {% endif %}

                  {% if track.description %}
                    <p>
                      {{ track.description|markdown }}
                    </p>
                  {% else %}
                    <p>
                      {{ linuxipsum() }}
                    </p>
                  {% endif %}

                  <h4>{{ _("Talks") }}</h4>
                  {% for talk in track.talks %}

                    <h5><a href="{{ url_for(talk) }}">{{ talk.title }}</a></h5>

                    <p>Speakers:
                      {% for speaker in talk.speakers %}
                        {{ m_speaker(speaker) }}
                        {%- if not loop.last %} / {%- endif %}
                      {% endfor %}
                    </p>
                  {% endfor %}

                {% endfor %}

              {% endfor %}
            </article>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>{% endblock %}
