{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar, m_speaker with context %}

{% block main %}
  <div class="container rooms program">

    <div class="row">
      <div class="col-md-12">
        <article>
          <h1 class="page-title">{{ page.title }}</h1>

          {% for room, tracks in rooms %}
            {% if not loop.first %}
              <hr>
            {% endif %}
            <h2>Room: {{ room }}</h2>

            {% for track in tracks %}

              <h5 style="margin-bottom: 0;"><a
                  href="{{ url_for(track) }}">{{ track.name }}</a></h5>

              <p>{{ track.starts_at.strftime("%A %d %B") }},
                from: {{ track.starts_at.strftime("%H:%M") }}
                to: {{ track.ends_at.strftime("%H:%M") }}.</p>
            {% endfor %}

          {% endfor %}
        </article>
      </div>
    </div>
  </div>

{% endblock %}
