{% extends "_base.html" %}

{% block main %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <article>

          <h1 class="page-title">{{ _("Search results") }}</h1>

          {% for r in results %}
            <h2><a href="/{{ r.path }}">{{ r.title }}</a></h2>
            <p>{{ r.summary }}</p>

          {% else %}
            <p>{{ _("Your request didn't produce any results.") }}</p>

          {% endfor %}

        </article>
      </div>
    </div>
  </div>
{% endblock %}
