{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar, m_speaker_details %}

{% block main %}
  <div class="container">

    <div class="row show-grid">
      <div class="span12">

        <div class="row show-grid clear-both">
          <article id="speaker">
            <div class="span8">
              <h1 class="page-title">{{ page.title }}</h1>

              <h2>Biography</h2>

              {% if speaker.bio %}
              {{ speaker.bio|markdown }}
              {% else %}
                {{ linuxipsum() }}
              {% endif %}

              {% if speaker.leads_tracks %}
                <h2>{{ _("Track leader on") }}</h2>

                {% for track in speaker.leads_tracks %}
                  <h3><a href="{{ url_for(track) }}">{{ track }}</a></h3>

                  {{ track.abstract|markdown }}
                {% endfor %}
              {% endif %}

              {% if speaker.talks %}
                <h2>{{ _("Talks") }}</h2>

                {% for talk in speaker.talks %}
                  <h3><a href="{{ url_for(talk) }}">{{ talk }}</a></h3>

                  <p>Track: <a href="{{ url_for(talk.track) }}">{{ talk.track._name }}</a></p>

                  {{ talk.abstract|markdown }}
                {% endfor %}
              {% endif %}
            </div>

            <div class="span3">
              {% if speaker.photo %}
              <img class="speaker-img" src="{{ url_for(".photo", speaker_id=speaker.id, s=220) }}">
              {% endif %}

              {{ m_speaker_details(speaker) }}
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}
