{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar, m_speaker_details %}

{% block main %}
  <div class="container" style="width: 940px;">

    <div class="row show-grid">
      <div class="span12">

        <div class="row clear-both">
          <div class="span12 main-column two-columns-right">
            <article class="speakers" id="speakers">
              <h1 class="page-title">{{ _("Speakers") }}</h1>

              {% for speaker in speakers %}
                <div class="row" style="border-top: solid 1px #eee;">
                  <span class="span2">
                    <img style="border-radius: 50%;"
                        src="{{ url_for(".photo", speaker_id=speaker.id, s=150) }}">
                  </span>

                  <span class="span7">
                    <h2><a href="{{ url_for(speaker) }}">{{ speaker }}</a>
                    </h2>

                    {% if speaker.bio %}
                      <p>{{ speaker.bio|markdown }}</p>
                    {% else %}
                      <p>{{ linuxipsum() }}</p>
                    {% endif %}

                    {% if speaker.talks %}
                      <h3>Talks</h3>

                      {% for talk in speaker.talks %}
                        <p><a href="{{ url_for(talk) }}"><b>{{ talk.title }}</b></a>
                        (Track: <a href="{{ url_for(talk.track) }}">{{ talk.track.name }}</a>)
                        </p>
                      {% endfor %}
                    {% endif %}
                  </span>

                  <span class="span3 details">
                    {{ m_speaker_details(speaker) }}
                  </span>
                </div>
              {% endfor %}
            </article>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
{% endblock %}
