{% extends "_base.html" %}

{% from "_macros.html" import m_day_tabs, m_sidebar, m_speaker with context %}

{% block main %}

  <div class="timetable">
    <h1 class="page-title">{{ _("Schedule") }}</h1>

    {{ m_day_tabs(day) }}

    <h2>{{ page.title }}</h2>

    <h3>{{ _("All tracks for today") }}</h3>

    <div class="alert alert-danger">
      <p>This preliminary list of tracks, talks and speakers will be
        completed shortly. Please stay tuned.</p>
    </div>

    <ul>
      {% for track in tracks %}
        <li>
          {#            <span class="track{{ track.id }}"#}
          {#                style="border: 1px solid black; width: 100px; height: 10px;">#}
          {#            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
          {#            </span>#}
          {#          &nbsp;#}
          <a href="#track-{{ track.id }}">{{ track.name }}</a>
          ({{ _("Room") }} {{ track.room }},
          {{ track.starts_at.strftime("%H:%M") }}-{{ track.ends_at.strftime("%H:%M") }})
          - <a href="{{ url_for(track) }}">{{ _("details") }}</a>
        </li>
      {% endfor %}
    </ul>

    <h3>{{ _("Time table") }}</h3>

    <div class="alert alert-danger">
      <p>This preliminary list of tracks, talks and speakers will be
        completed shortly. Please stay tuned.</p>
    </div>

    <table id="schedule">
      <tr>
        <td>{{ _("Room") }} </td>
        {% for room in rooms %}
          <td class="text-center"><b><a class="text-center"
              href="{{ url_for(room) }}">{{ room }}</a></b>
            <br>
            <span
                class="text-center">({{ room.capacity }} {{ _("seats") }})</span>
          </td>
        {% endfor %}
      </tr>

      {% for row in time_table %}
        {% set row_index=loop.index %}
        <tr>
          <td><span
              style="white-space: nowrap; text-wrap: none; text-align: right;">{{ row[0].t_start.strftime("%H:%M") }}-{{ row[0].t_end.strftime("%H:%M") }}</span>
          </td>
          {% for cell in row %}
            {% if row_index in [2, 4] %}
              <td>Pause</td>
            {% else %}
              <td>
                {% if cell.track %}
                  <a href="{{ url_for(cell.track) }}"
                      id="track-{{ cell.track.id }}">
                    <div
                        class="track track-{{ cell.track.theme|lower }}">{{ cell.track }}</div>
                  </a>
                {% endif %}

                {% for talk in cell.talks %}
                  <div class="talk track{{ talk.track.id }}">
                    <a class="talk-detail" data-toggle="popover"
                        data-trigger="hover" data-placement="bottom"
                        data-content="{{ talk.abstract_rendered }}"
                        title="{{ talk.title }}" data-html="true"
                        data-original-title="{{ talk.title }}"
                        style="text-decoration: none; color: black;">
                      <div
                          class="start-time">{{ talk.starts_at.strftime("%H:%M") }}</div>

                      <div>{{ talk.title }}</div>
                      <div class="speakers">{% for speaker in talk.speakers %}
                        <a href="{{ url_for(speaker) }}">{{ speaker }}</a> {% endfor %}
                      </div>
                    </a>

                    <div class="text-center" style="margin-top: 10px;">
                      <a href="{{ url_for(talk) }}"
                          class="btn btn-primary btn-xs">{{ _("More info") }}</a>
                    </div>

                    {% if not loop.last %}
                      <div class="hr"
                          style="margin-top: 10px; margin-bottom: 10px;"></div>
                    {% endif %}
                  </div>
                {% endfor %}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>


    <h3>{{ _("Tracks details") }}</h3>

    {% for track in tracks %}
      <hr>
      <a id="details-{{ track.id }}"></a>
      <h4><a href="{{ url_for(track) }}">{{ track.name }}</a></h4>

      <p>Theme: <a href="{{ url_for(track.theme) }}">{{ track.theme }}</a>
      </p>

      <p>Room: <a href="{{ url_for(track.room) }}">{{ track.room }}</a>
      </p>

      <p>From: {{ track.starts_at.strftime("%H:%M") }}
        to {{ track.ends_at.strftime("%H:%M") }}</p>

      <p>
        {{ track.description|markdown }}
      </p>

      <p><a class="btn btn-default"
          href="{{ url_for(track) }}">{{ _("More info") }}</a>
      </p>
    {% endfor %}
  </div>

  <script>
    $(function() {
      $('.talk-detail').popover();
    });
  </script>

{% endblock %}
